* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d4dbf8;
}

.high-container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
}

nav {
  font-size: 14px;
  background-color: white;
  width: 100%;
  padding: 10px;
}

nav ul {
  color: black;
  font-size: 16px;
}

.nav-active {
  height: auto;
  width: 100%;
  background-color: #5271ff;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  padding: 10px;
}

.deco {
  border-radius: 13px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.main {
  display: flex;
  width: 100%;
  height: 50vh;
  background-image: url(../images/acceuil-image.jpg);

  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin: 0 auto;
}

#rechercher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rechercher-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

#rechercher .rechercher-container h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  background-color: #5271ff;
  padding: 10px;
  /* margin-top: 5%; */
}

.rechercher-container .search-bar {
  height: 83px;
  width: 80%;
  background-color: white;
  border-radius: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 11.6px rgba(82, 113, 255, 0.36);
  border: 5px solid #5271ff;
  /* margin-top: 50px; */
}

.rechercher-container .search-bar select {
  height: 37px;
  width: 120px;
  background-color: #5271ff;
  color: white;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}

.rechercher-container .search-bar .icon-search-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5271ff;
}

.rechercher-container .search-bar .icon-search-bar-icon img {
  cursor: pointer;
}

.container {
  width: 100%;
  height: auto;
  min-height: 300px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 5%;
}

.container h1 {
  color: #5271ff;
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}

.container-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.container-cards .card {
  width: 60%;
  height: auto;
  background-color: rgba(172, 172, 172, 0.25);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-left: 7px solid #5271ff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-cards .card .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-content div p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 200;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s;
}

.card-content div p span {
  font-weight: bold;
  color: #5271ff;
}

.container-cards .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-cards .btn-container button {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.container-cards .btn-container .btn-annule {
  background-color: orangered;
}

.container-cards .btn-container .btn-terminer {
  background-color: #5271ff;
}

/* footer */

footer {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 5%;
}

footer .footer-line {
  width: 100%;
  height: 17px;
  background-color: #5271ff;
}

footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-container .footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-container p {
  font-size: 12px;
  font-weight: 200;
}
