* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d4dbf8;
}

.high-container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
}

nav {
  font-size: 14px;
  background-color: white;
  width: 100%;
  padding: 10px;
}

nav ul {
  color: black;
  font-size: 16px;
}
.nav-active-option {
  height: auto;
  width: 100%;
  background-color: #5271ff;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  padding: 10px;
}

.deco {
  border-radius: 13px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
  margin-top: 5%;
}

.mini-menu {
  height: auto;
  width: 190px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border: 2px solid #5271ff;
}

.mini-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mini-menu ul li {
  list-style: none;
  /* margin-bottom: 40px; */
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  padding: 10px;
}

.mini-menu .active {
  height: auto;
  width: 100%;
  background-color: #5271ff;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}

.contenue {
  min-height: 400px;
  max-height: auto;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contenue .title h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #5271ff;
  width: 100%;
  text-align: center;
}

.contenue .title p {
  font-size: 20px;
  font-weight: 100;
  width: 457px;
  text-align: center;
}
.contenue .formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.contenue .formulaire form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.formulaire form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input[type="number"],
input[type="text"] {
  width: 370px;
  height: 45px;
  border: 1px solid #5271ff;
  border-radius: 12px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  background-color: rgba(82, 113, 255, 0.14);
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="submit"] {
  width: 370px;
  height: 45px;
  border-radius: 13px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #5271ff;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

/* footer */

footer {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 5%;
}

footer .footer-line {
  width: 100%;
  height: 17px;
  background-color: #5271ff;
}

footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-container .footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-container p {
  font-size: 12px;
  font-weight: 200;
}
